HippocrateWPF/client/Hippocrate/Service References/ServiceLive/ServiceLive.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushDataHeart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestData" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushDataTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestData" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>