HippocrateWPF/client/Hippocrate/Service References/ServiceObservation/ServiceObservation2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3055/ServiceObservation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dbo" />
  <xs:element name="AddObservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPatient" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dbo" minOccurs="0" name="obs" nillable="true" type="q1:Observation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddObservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddObservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>