HippocrateWPF/client/Hippocrate/Service References/ServiceObservation/ServiceObservation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dbo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dbo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3055/ServiceObservation.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Observation">
    <xs:sequence>
      <xs:element minOccurs="0" name="BloodPressure" type="xs:int" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Pictures" nillable="true" type="q1:ArrayOfbase64Binary" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Prescription" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Observation" nillable="true" type="tns:Observation" />
</xs:schema>