HippocrateWPF/client/Hippocrate/Service References/ServicePatient/ServicePatient.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePatient" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3055/ServicePatient.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3055/ServicePatient.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3055/ServicePatient.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dbo" />
      <xsd:import schemaLocation="http://localhost:3055/ServicePatient.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePatient_GetListPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListPatient" />
  </wsdl:message>
  <wsdl:message name="IServicePatient_GetListPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePatient_GetPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatient" />
  </wsdl:message>
  <wsdl:message name="IServicePatient_GetPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePatient_AddPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPatient" />
  </wsdl:message>
  <wsdl:message name="IServicePatient_AddPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePatient_DeletePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePatient" />
  </wsdl:message>
  <wsdl:message name="IServicePatient_DeletePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePatientResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePatient">
    <wsdl:operation name="GetListPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePatient/GetListPatient" message="tns:IServicePatient_GetListPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePatient/GetListPatientResponse" message="tns:IServicePatient_GetListPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePatient/GetPatient" message="tns:IServicePatient_GetPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePatient/GetPatientResponse" message="tns:IServicePatient_GetPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePatient/AddPatient" message="tns:IServicePatient_AddPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePatient/AddPatientResponse" message="tns:IServicePatient_AddPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePatient/DeletePatient" message="tns:IServicePatient_DeletePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePatient/DeletePatientResponse" message="tns:IServicePatient_DeletePatient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePatient" type="tns:IServicePatient">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListPatient">
      <soap:operation soapAction="http://tempuri.org/IServicePatient/GetListPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatient">
      <soap:operation soapAction="http://tempuri.org/IServicePatient/GetPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <soap:operation soapAction="http://tempuri.org/IServicePatient/AddPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <soap:operation soapAction="http://tempuri.org/IServicePatient/DeletePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePatient">
    <wsdl:port name="BasicHttpBinding_IServicePatient" binding="tns:BasicHttpBinding_IServicePatient">
      <soap:address location="http://localhost:3055/ServicePatient.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>